body{
    margin: 0;
    background-color: black;
    color: white;
    height: 100vh;
    position: relative;
}
.ball{
    background-color:white;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 60%;
    box-shadow: 10px 20px 70px 20px coral;
    left: 0%;
    transform: translateX(-50%);
    animation: ball 20s linear infinite;
}
@keyframes ball{
100%{
    transform: translateX(900px)
}
}
.information{
    position: absolute;
    color: white;
    width: 300px;
    top: 25px;
    left: 80px;
}
.floor{
    background-color: white;
    height: 30px;
    width: 200%;
    top: 500px;
    position: absolute;
    box-shadow: 10px 10px 15px lightblue ;
}
